iframe#webpack-dev-server-client-overlay {
	display: none !important;
}
.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.userForm-role {
	max-width: 225px;
}
@media screen and (max-width: 1050px) {
	.userForm-role {
		max-width: 100%;
	}
	.desk_input_forms {
		flex-direction: column !important;
	}
	.homepage_main_content {
		flex-direction: column !important;
	}
}

@media screen and (max-width: 1128px) {
	.desk_main_div_content {
		flex-direction: column !important;
	}
}

@media screen and (max-width: 450px) {
	.desk_main_content {
		flex-direction: column !important;
	}
}

/* flex-box-content */
.flex-box {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}

.templatecontent {
	flex-basis: 33%;
	flex-grow: 1;
	max-width: 150px;
	background-position: center;
	background-size: cover;
}
.seating_arrangement {
	width: 100%;
	height: 100%;
}

@media (max-width: 600px) {
	.templatecontent {
		flex-basis: 100%;
	}
}
