@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* mui  drawer */

.MuiDrawer-paper {
	background-color: #002849 !important;
}

/* link button */

Link {
	color: inherit;
	text-decoration: none;
}

.MuiListItemIcon-root {
	color: #fafafa !important;
}

.login_main_comp {
	width: 100%;
	height: 100%;
	background-image: url('../public/login_image.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

html {
	font-size: 100%;
	@media (max-width: 289px) {
		font-size: 45%;
	}
	@media (min-width: 290px) {
		font-size: 50%;
	}
	@media (min-width: 300px) {
		font-size: 52.5%;
	}
	@media (min-width: 320px) {
		font-size: 55.5%;
	}
	@media (min-width: 325px) {
		font-size: 56.5%;
	}
	@media (min-width: 326px) {
		font-size: 57%;
	}
	@media (min-width: 330px) {
		font-size: 59%;
	}
	@media (min-width: 360px) {
		font-size: 62.5%;
	}
	@media (min-width: 411px) {
		font-size: 70%;
	}
	@media (min-width: 500px) {
		font-size: 85%;
	}
	@media (min-width: 720px) {
		font-size: 100%;
	}
	@media (min-width: 1000px) {
		font-size: 110%;
	}
}
