.desk-layout {
	flex-wrap: nowrap;
}
.col-md-2 {
	padding: 0px 10px;
}
.col-md-6 {
	padding: 0px 25px;
}
.seat {
	width: 30px;
	height: 30px;
	border-radius: 0px;
	margin: 6px;
	border: 2px solid grey;
	cursor: pointer;
}
.seat:hover {
	transform: scale(1.1);
}
.row {
	display: flex;
	align-items: flex-start;
}
.seat-grey {
	background-color: #ddd;
	background: grey;
}
.seat-black {
	background-color: black;
}
.seat-undefined {
	cursor: auto;
	pointer-events: none;
}
.desk-complex p {
	text-align: center;
	font-size: 20px;
}
.desk-selector {
	width: 250px;
}
